@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="border border-2 rounded col-md-8 d-flex mx-auto shadow-lg">
    <section class="container">
        <div class="mb-3 text-center">
            <h3>KissSweet</h3>
            <h6>建立您的 KissSweet 帳戶</h6>
        </div>
        <hr>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div class="row">
                <div class="col-md-5 offset-1">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group mb-5">
                        <input asp-for="Input.Name" class="form-control" placeholder="姓名">
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-5">
                        <input asp-for="Input.Email" class="form-control" placeholder="電子信箱">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input asp-for="Input.Password" type="password" class="form-control" id="password" placeholder="密碼">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" id="confirm_password" placeholder="密碼確認">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 offset-1 mb-3">
                    <img class="img-fluid" src="~/Image/KissSweet3.png">
                </div>
            </div>
        </form>
        <hr>
        <div class="row mt-3">
            <div class="form-group col-2 offset-2">
                <p>
                    <a class="color-gray" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">登入會員</a>
                </p>
            </div>
            <div class="form-group d-grid gap-2 col-2 offset-4">
                <button type="submit" class="btn btn-secondary">立即註冊</button>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
